* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 50%;
}

.frame_project {
    border: 0px solid;
    position: absolute;
    z-index: 7;
    top: 0;
    left: 15vw;
    height: 100vh;
    width: 85vw;
    pointer-events: auto;
}

 :root {
    --nav: #292931;
    --Home: #47FF31;
    --AboutMe: black;
    --Projects: black;
    --Skills: black;
    --Contact: black;
}

.container {
    background: #191919;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

nav a {
    font-size: 2vw;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 8;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
    background: var(--nav);
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: right;
    align-items: right;
}

section h1 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    opacity: 0;
}


/* Styles applied on trigger */

section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#Home {
    background: var(--Home);
}

#AboutMe {
    background: var(--AboutMe);
}

#Projects {
    background: var(--Projects);
}

#Skills {
    background: var(--Skills);
}

#Contact {
    background: var(--Contact);
}

@keyframes fadeIn {
    100% {
        opacity: 1
    }
}