Body {
    background-color: Black;
}

#canvas1 {
    position: absolute;
    background-color: black;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-bg1 {
    text-align: center;
    color: #37ff20;
    background-color: black;
    opacity: .8;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 10%;
    width: 20%;
}