.Main {
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 23%;
    border: green solid;
    height: 83%;
    width: 53%;
    display: none;
    pointer-events: auto;
}

.overlay-bg {
    text-align: center;
    display: none;
    color: #37ff20;
    background-color: black;
    opacity: .8;
    position: absolute;
    top: 35%;
    left: 35%;
    height: 30%;
    width: 30%;
}


/* loader */

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 25px);
    animation: bounce 3s cubic-bezier(1, 0, 0, 1) infinite;
}

.ball:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 100%;
    animation: bounce2 3s ease-in-out infinite;
    transform-origin: bottom;
}

@keyframes bounce2 {
    0% {
        transform: scaleY(0.75) scaleX(1.25);
    }
    14.25% {
        transform: scaleY(1);
    }
    28.5% {
        transform: scaleY(0.75) scaleX(1.25);
    }
    42.75% {
        transform: scaleY(1);
    }
    57% {
        transform: scaleY(0.75) scaleX(1.25);
    }
    71.25% {
        transform: scaleY(1);
    }
    80% {
        transform: scaleY(0.75) scaleX(1.25);
    }
    90% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0.75) scaleX(1.25);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    14.25% {
        transform: translateY(-150px);
    }
    28.5% {
        transform: translateY(-7.5px);
    }
    42.75% {
        transform: translateY(-170px);
    }
    57% {
        transform: translateY(-27.5px);
    }
    71.25% {
        transform: translateY(-180px);
    }
    80% {
        transform: translateY(-35px);
    }
    90% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.shape {
    width: 300px;
    height: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 75px);
    animation: shapes2 3s ease-in-out infinite;
}

@keyframes shapes2 {
    0% {
        transform: rotate(90deg) translateX(-20px);
    }
    14.25% {
        transform: rotate(90deg) translateX(-20px);
    }
    28.5% {
        transform: rotate(135deg);
    }
    42.75% {
        transform: rotate(162deg);
    }
    57% {
        transform: rotate(180deg);
    }
    71.25% {
        transform: rotate(245.5deg);
    }
    80% {
        transform: rotate(336.5deg);
    }
    100% {
        transform: rotate(90deg) translateX(-20px);
    }
}

.shape:before,
.shape:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #01FF4F;
    animation: shapes 3s ease-in-out infinite;
    clip-path: polygon(20% 21%, 50% 8%, 80% 21%, 90% 50%, 80% 80%, 50% 91%, 21% 79%, 8% 51%);
}

.shape:after {
    width: 90%;
    height: 90%;
    background: repeating-linear-gradient(to right, #fff, #fff 2px, #47FF31 2px, #01FF4F 5px);
    top: 5%;
    left: 5%;
    background-position: 20px 30px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@keyframes shapes {
    0% {
        clip-path: polygon(91% 50%, 91% 50%, 29% 86%, 30% 86%, 30% 86%, 30% 86%, 30% 14%, 30% 14%);
        background-position: 20px 30px;
    }
    14.25% {
        clip-path: polygon(91% 50%, 91% 50%, 29% 86%, 30% 86%, 30% 86%, 30% 86%, 30% 14%, 30% 14%);
        background-position: 120px 30px;
    }
    28.5% {
        clip-path: polygon(91% 50%, 91% 50%, 50% 91%, 50% 91%, 50% 91%, 50% 91%, 9% 50%, 50% 9%);
        background-position: 20px 30px;
    }
    42.75% {
        clip-path: polygon(63% 11%, 91% 50%, 63% 89%, 63% 89%, 63% 89%, 63% 89%, 16% 74%, 16% 26%);
        background-position: -120px 30px;
    }
    57% {
        clip-path: polygon(29% 14%, 71% 14%, 91% 50%, 91% 50%, 71% 86%, 71% 86%, 30% 86%, 9% 50%);
        background-position: 20px 30px;
    }
    71.25% {
        clip-path: polygon(13% 32%, 41% 10%, 76% 18%, 91% 50%, 76% 83%, 76% 83%, 41% 90%, 13% 68%);
        background-position: 120px 30px;
    }
    80% {
        clip-path: polygon(20% 21%, 50% 8%, 80% 21%, 90% 50%, 80% 80%, 50% 91%, 21% 79%, 8% 51%);
        background-position: 20px 30px;
    }
    83% {
        clip-path: polygon(13% 32%, 41% 10%, 76% 18%, 91% 50%, 76% 83%, 76% 83%, 41% 90%, 13% 68%);
        background-position: 20px 30px;
    }
    86% {
        clip-path: polygon(29% 14%, 71% 14%, 91% 50%, 91% 50%, 71% 86%, 71% 86%, 30% 86%, 9% 50%);
        background-position: 20px 30px;
    }
    89% {
        clip-path: polygon(63% 11%, 91% 50%, 63% 89%, 63% 89%, 63% 89%, 63% 89%, 16% 74%, 16% 26%);
        background-position: 20px 30px;
    }
    92% {
        clip-path: polygon(91% 50%, 91% 50%, 50% 91%, 50% 91%, 50% 91%, 50% 91%, 9% 50%, 50% 9%);
    }
    95% {
        clip-path: polygon(91% 50%, 91% 50%, 29% 86%, 30% 86%, 30% 86%, 30% 86%, 30% 14%, 30% 14%);
    }
    100% {
        clip-path: polygon(91% 50%, 91% 50%, 29% 86%, 30% 86%, 30% 86%, 30% 86%, 30% 14%, 30% 14%);
    }
}


/*
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
} */

.overlay-bg1 {
    text-align: center;
    color: #37ff20;
    background-color: black;
    opacity: .8;
    position: absolute;
    top: 90%;
    left: 70%;
    height: 10%;
    width: 30%;
}

.py-5 {
    display: none;
    z-index: 3;
    color: #37ff20;
    position: absolute;
    top: 43%;
    left: 40%;
    height: 10%;
    width: 20%;
}

.typewrite {
    z-index: 3;
    font-family: 'Press Start 2P', cursive;
    font-size: 20;
    color: #37ff20;
    position: absolute;
}


/* Switch starts here */

.switch {
    text-align: center;
    display: none;
    background-color: black;
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 57px;
    width: 100px;
}

.rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 7em;
    height: 3.5em;
    overflow: hidden;
    border-bottom: 0.5em solid grey;
}

.rocker-small {
    font-size: 0.75em;
    /* Sizes the switch */
    margin: 1em;
}

.rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.5em solid grey;
    border-bottom: 0;
}

.rocker input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-left,
.switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
}

.switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
}

.switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #37ff20;
    color: #000;
}

.switch-left::before,
.switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
}

.switch-left::before {
    left: -0.4em;
}

.switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

input:checked+.switch-left {
    background-color: #37ff20;
    color: #000;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

input:checked+.switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

input:checked+.switch-left+.switch-right {
    background-color: #ddd;
    color: black;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

input:checked+.switch-left+.switch-right::before {
    background-color: #ccc;
}